<!-- <p class="page2">Форма авторизации</p> -->
<div class="login">
	<div class="login__wrapper">
		<div class="login__item">
			{{> title text_title='Регистрация'}}
			{{> inputform name='email' label='Почта' }}
			{{> inputform name='login' label='Логин' }}
			{{> inputform name='first_name' label='Имя' }}
			{{> inputform name='second_name' label='Фамилия' }}
			{{> inputform name='phone' label='Телефон' }}
			{{> inputform name='password' typetext='password' label='Пароль'}}
			{{> inputform name='password' typetext='password' label='Пароль (еще раз)'}}
		</div>

		<div class="login__item">
			{{> button id='authButton1' style_btn='someBtn' value='Зарегистрироваться' }}
			{{>text__transition href="#page1" text='Войти'}}
		</div>

	</div>
</div>